doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
    title RADIO AF APP #1
    link(rel='stylesheet', href='css/style.css')
    body
      div#loading
        p Loading...
  
      script(src="cordova.js")
      script(src="js/vendor/jquery-2.1.3.min.js")
      script(src="js/vendor/fastclick.js")
      script(src="js/rss.js")
      script(src="js/htmlfarm.js")
      script(src="js/handlers.js")
      script(src="js/titlebar.js")
      script(src="js/scroller.js")
      script(src="js/audiop.js")
      script(src="js/index.js")
      script.
         app.initialize();
         
         app.onStart = function () {
             app.log('onstart')

            // Remove the loading div
            document.body.removeChild(document.getElementById('loading'))

            // Add the wrapper
            var wrapper = htmlFarm.wrapper(),
                slider = wrapper.slider,
                flowPage = htmlFarm.flowPage(),
                titleBar = htmlFarm.staticTitleBar(),
                menuButton = htmlFarm.menuButton(),
                player = htmlFarm.player()

            wrapper = wrapper.wrapper;

            // Add pages here
            slider.appendChild(flowPage)
            
            wrapper.appendChild(slider)

            document.body.appendChild(menuButton)
            document.body.appendChild(titleBar)
            document.body.appendChild(player)

            document.body.appendChild(wrapper)

            app.bootTime = (Date.now() - app.time);
            FastClick.attach(document.body);

            window.titlebar.init(titleBar);
            app.scroller = new Scroll('#wrapper', 0);

            app.scroller.onScrollListener = window.titlebar.onScroll;
            app.scroller.onPageChangeListener = window.titlebar.onPageChange;

            console.log('yolo')
          
             var counter = 0;
             rss.load("http://www.radioaf.se/program/bastforeigar/feed/?post_type=podcasts", 1, function(data, xml) {
                var podcasts = rss.parse(data, xml);
                podcasts.forEach(function(podcast){
                    counter = (counter + 1) % 2;
                    flowPage.childNodes[1].appendChild(window.htmlFarm.miniPod(podcast, counter === 0));
                });
                app.scroller.refreshPages();
             });
            
             //rss.load('http://www.radioaf.se/program/correcto/feed/', 2, rss.parse);
             rss.load('http://www.radioaf.se/program/studentaftonpodden/feed/?post_type=podcasts', 7, function(data, xml) {
                var podcasts = rss.parse(data, xml);
                var programPage = window.htmlFarm.programView(podcasts);
                slider.appendChild(programPage)
                app.scroller.refreshPages();
            });

            rss.load('http://www.radioaf.se/program/correcto/feed/?post_type=podcasts', 7, function(data, xml) {
                 var podcasts = rss.parse(data, xml);
                 var programPage = window.htmlFarm.programView(podcasts);
                 slider.appendChild(programPage)
                 app.scroller.refreshPages();
             });

            // a program in the favourite screen was clicked upon: 
            // THOU SHALT HANDLE IT
            $(".fav").on("click", function() {
                var $el = $(this);
                var programName = $el.data("program");
                rss.find(programName, function(podcasts) {
                    var programPage = window.htmlFarm.programView(podcasts);
                    // insert the page into the dom
                    var newPage = app.scroller.insertPage(programPage, app.scroller.pages[app.scroller.currentPage], false);
                    app.scroller.gotoPage(newPage);
                });

                // var $title = $el.find(".fav-title");
                // if ($title.hasClass("hax")) {
                //     $title.removeClass("hax");
                //     $el.find(".fav-title").css("background-color", "#e05a5a");
                //     $el.find(".fav-title").css("color", "#f2f2f2");
                // } else {
                //     $title.addClass("hax");
                //     $el.find(".fav-title").css("background-color", "#89FB98");
                //     $el.find(".fav-title").css("color", "#DD69AF");
                // }
            });
         }
